@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Force Tailwind to use the 'dark' class on the html element */
@custom-variant dark (&:where(.dark, .dark *));